<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/index.html}" lang="ru">

<th:block layout:fragment="breadcrumbs">
    <div class="row">
        <div class="col-sm-6">
            <h5 style="margin: 0" id="pageTitle">Статистика</h5>
        </div>
        <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right text-sm">
                <li class="breadcrumb-item"><a href="/">
                    <i class="fa-solid fa-house"></i> Главная</a></li>
                <li class="breadcrumb-item active">Статистика</li>
            </ol>
        </div>
    </div>
</th:block>

<th:block layout:fragment="content">
    <div class="row">
        <div class="col-4">
            <div class="small-box bg-primary">
                <div class="inner">
                    <h3></h3>
                    <p>Домов</p>
                </div>
                <div class="icon">
                    <i class="fa-regular fa-building"></i>
                </div>
                <a href="/buildings" class="small-box-footer">
                    Перейти в дома <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3></h3>
                    <p>Активных владельцев</p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-users"></i>
                </div>
                <a href="/users" class="small-box-footer">
                    Перейти к владельцам <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3></h3>
                    <p>Заявок мастера в работе</p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-wrench"></i>
                </div>
                <a href="/master-requests" class="small-box-footer">
                    Перейти к заявкам <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="small-box bg-info">
                <div class="inner">
                    <h3></h3>
                    <p>Квартир</p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-key"></i>
                </div>
                <a href="/flats" class="small-box-footer">
                    Перейти в квартиры <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box bg-success">
                <div class="inner">
                    <h3></h3>
                    <p>Лицевых счетов</p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-child-reaching"></i>
                </div>
                <a href="/accounts" class="small-box-footer">
                    Перейти к счетам <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-4">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3></h3>
                    <p>Новых заявок мастера</p>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-user-plus"></i>
                </div>
                <a href="/master-requests" class="small-box-footer">
                    Перейти к заявкам <i class="fas fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <div class="card card-secondary card-outline">
                <div class="card-header">
                    <h3 class="card-title">График погашения квитанций, грн</h3>
                </div>
                <div class="card-body">
                    <canvas id="firstChart" height="50px"></canvas>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="info-box">
                <span class="info-box-icon bg-danger"><i class="fa-regular fa-money-bill-1"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">ЗАДОЛЖЕННОСТЬ ПО СЧЕТАМ, ГРН</span>
                    <span class="info-box-number"></span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-primary"><i class="fa-regular fa-money-bill-1"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">БАЛАНС ПО СЧЕТАМ, ГРН</span>
                    <span class="info-box-number"></span>
                </div>
            </div>
            <div class="info-box">
                <span class="info-box-icon bg-success"><i class="fa-regular fa-money-bill-1"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">СОСТОЯНИЕ КАССЫ, ГРН</span>
                    <span class="info-box-number"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-secondary card-outline">
                <div class="card-header">
                    <h3 class="card-title">График приходов и расходов по кассе, грн</h3>
                </div>
                <div class="card-body">
                    <canvas id="secondChart" height="50px"></canvas>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="extra-js">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

    <script type="application/javascript">

        let statisticsData = {};
        let statisticsListExtraData = $('span.info-box-number');
        const currentYear = new Date().getFullYear();

        $(document).ready(function () {
            getStatisticsData();
            let statisticListData = $('div.inner').find('h3');
            statisticListData[0].append(statisticsData.buildingsCount);
            statisticListData[1].append(statisticsData.activeUsersCount);
            statisticListData[2].append(statisticsData.masterRequestsCount);
            statisticListData[3].append(statisticsData.flatsCount);
            statisticListData[4].append(statisticsData.accountsCount);
            statisticListData[5].append(statisticsData.newMasterRequestsCount);
            getAllTransactionBalancesData();
            getAllAccountsBalance();
            getAllAccountsDebt();
            firstChart();
            secondChartInit();
        });

        //  Get Statistics data
        function getStatisticsData() {
            $.ajax({
                method: "GET",
                url: "statistics/get-data",
                dataType: "json",
                async: false,
                success: function (data) {
                    console.info(data);
                    statisticsData = data;
                },
                error: function (jqXHR, exception) {
                    errorWarning();
                    ajaxError(jqXHR, exception);
                }
            });
        }

        //  Get all Transaction Balances data
        function getAllTransactionBalancesData() {
            $.ajax({
                method: "GET",
                url: "transactions/get-all-transaction-balances-data",
                success: function (data) {
                    statisticsListExtraData[2].append(formatter.format(data.transactionAmountsSumByInType - data.transactionAmountsSumByOutType));
                },
                error: function (jqXHR, exception) {
                    errorWarning();
                    ajaxError(jqXHR, exception);
                }
            });
        }


        //  Get All Accounts Balance
        function getAllAccountsBalance() {
            $.ajax({
                method: "GET",
                url: "transactions/get-all-accounts-balance",
                success: function (data) {
                    statisticsListExtraData[1].append(formatter.format(data));
                },
                error: function (jqXHR, exception) {
                    errorWarning();
                    ajaxError(jqXHR, exception);
                }
            });
        }

        //  Get All Accounts Debt
        function getAllAccountsDebt() {
            $.ajax({
                method: "GET",
                url: "transactions/get-all-accounts-debt",
                success: function (data) {
                    statisticsListExtraData[0].append(formatter.format(data));
                },
                error: function (jqXHR, exception) {
                    errorWarning();
                    ajaxError(jqXHR, exception);
                }
            });
        }

        //  Charts
        function firstChart() {
            const firstChart = new Chart(document.getElementById('firstChart').getContext('2d'), {
                type: 'bar',
                data: {
                    // labels: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                    labels: ["\u044f\u043d\u0432., " + currentYear, "\u0444\u0435\u0432\u0440., " + currentYear, "\u043c\u0430\u0440\u0442, " + currentYear, "\u0430\u043f\u0440., " + currentYear, "\u043c\u0430\u0439, " + currentYear, "\u0438\u044e\u043d\u044c, " + currentYear, "\u0438\u044e\u043b\u044c, " + currentYear, "\u0430\u0432\u0433., " + currentYear, "\u0441\u0435\u043d\u0442., " + currentYear, "\u043e\u043a\u0442., " + currentYear, "\u043d\u043e\u044f\u0431., " + currentYear, "\u0434\u0435\u043a., " + currentYear],
                    datasets: [
                        {
                            label: 'Задолжность',
                            data: Object.values(statisticsData.repaymentData)[1].map(value => value * -1),
                            borderColor: "rgba(221, 75, 57, 1)",
                            backgroundColor: "rgba(221, 75, 57, 1)",
                            borderWidth: 2
                        },
                        {
                            label: 'Погашение задолженности',
                            data: Object.values(statisticsData.repaymentData)[0],
                            borderColor: "rgba(0, 166, 90, 1)",
                            backgroundColor: "rgba(0, 166, 90, 1)",
                            borderWidth: 2
                        }
                    ]
                },
                options: {
                    scaleBeginAtZero: true,
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        function secondChartInit() {
            const secondChart = new Chart(document.getElementById('secondChart').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: ["\u044f\u043d\u0432., " + currentYear, "\u0444\u0435\u0432\u0440., " + currentYear, "\u043c\u0430\u0440\u0442, " + currentYear, "\u0430\u043f\u0440., " + currentYear, "\u043c\u0430\u0439, " + currentYear, "\u0438\u044e\u043d\u044c, " + currentYear, "\u0438\u044e\u043b\u044c, " + currentYear, "\u0430\u0432\u0433., " + currentYear, "\u0441\u0435\u043d\u0442., " + currentYear, "\u043e\u043a\u0442., " + currentYear, "\u043d\u043e\u044f\u0431., " + currentYear, "\u0434\u0435\u043a., " + currentYear],
                    datasets: [
                        {
                            label: 'Приход',
                            data: Object.values(statisticsData.incomingAndExpensesData)[1],
                            borderColor: "rgba(0, 166, 90, 1)",
                            backgroundColor: "rgba(0, 166, 90, 1)",
                            borderWidth: 2
                        },
                        {
                            label: 'Расход',
                            data: Object.values(statisticsData.incomingAndExpensesData)[0],
                            borderColor: "rgba(221, 75, 57, 1)",
                            backgroundColor: "rgba(221, 75, 57, 1)",
                            borderWidth: 2
                        }
                    ]
                },
                options: {
                    scaleBeginAtZero: true,
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

    </script>
</th:block>

</html>
