<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.2.0/js/adminlte.min.js"></script>
<!-- summernote WYSIWYG editor -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/summernote-bs4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.20/lang/summernote-ru-RU.min.js"></script>



<!-- Sidebar tab active -->
<script type="application/javascript">
    $(function () {
        var url = window.location;
        $('ul.nav-sidebar a').filter(function () {
            if (this.href) return this.href === url || url.href.indexOf(this.href) === 0;
        }).addClass('active');
    });
</script>

<!-- summernote init -->
<script type="application/javascript">
    $(document).ready(function() {
        $('#summernote').summernote({
            lang:'ru-RU',
            minHeight: 156,
            maxHeight: 200,
            inheritPlaceholder: true,
            styleTags: [
                'p',
                {title: 'Заголовок 1', tag: 'h1', className: 'Заголовок 1', value: 'h1'},
                {title: 'Заголовок 2', tag: 'h2', className: 'Заголовок 2', value: 'h2'},
                {title: 'Заголовок 3', tag: 'h3', className: 'Заголовок 3', value: 'h3'},
                {title: 'Заголовок 4', tag: 'h4', className: 'Заголовок 4', value: 'h4'},
                {title: 'Заголовок 5', tag: 'h5', className: 'Заголовок 5', value: 'h5'},
                {title: 'Заголовок 6', tag: 'h6', className: 'Заголовок 6', value: 'h6'},
            ],
            toolbar: [
                ['size', ['style']],
                ['style', ['bold', 'italic', 'underline']],
                ['list', ['ul', 'ol', 'paragraph']],
        ]
        });
    });
</script>
